<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action='/posts' method=POST>
      <label>Blog Name:</label>
      <input type='text' name='name'>

      <label>Blog Content:</label>
      <input type='text' name='content'>

      <input type='submit' value='submit'>
    </form>
  </body>
</html>
